.about{

}
.about-wrapper {
  width: 940px;
  background-color: $white;
  margin: 0 auto 1rem;
  border-radius: 10px;
  border: 1px solid transparent;

  > h3 {
    color: $white;
    background-color: $nav-bg-col;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1rem;
  }

  > h4 { margin-bottom: 1rem; }

  img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
  }

  a {
    font-family: 'Architects Daughter', cursive;
    font-size: 140%;
    border-radius: 10px;
    width: 50%;
  }
}
