<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <title>Poll-Plex</title>
   </head>
   <body>
     <div id='react-root'></div>
   </body>
 </html>
