@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

body {
  margin: 0;
  padding: 10px;
  background-color: #ccc;
  font-family: 'Raleway';
  text-align: center;
  
  &:hover {
    color: green;
  }
}

a { padding: 10px; }

ul {
  list-style:none;
  padding: 0;
}

img {
  // height: 200px;
  // width: 400px;
}
