// Color palette
$nav-bg-col: #2c3840;
$nav-bg-hover-col: darken(#2c3840, 5%);
$nav-user-bg-col: #1E3A4E;
$nav-border-col: #4e4e4e;
$base-col: #9ddcff;
$main-h1-col: $white;

// Global
$bor-rad: 10px;
